body {
  font-size: 12px;
  list-style: none;
}

.c-body {
  max-width: 1920px;
  margin: auto;
}

aside {
  width: 350px;
}

main {
  width: 1553px;
}

.c-footer {
  display: block;
  height: 150px;
  width: 100%;
  background-color: #9D8670;
}

aside {
  background-color: #F2EDE9;
}

.l-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 35px;
  align-items: center;
}

@media screen and (max-width: 899px) {
  .l-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .l-header .c-logo {
    margin-left: 70px;
  }
}
.l-content__item--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 625px;
}

.l-content--wrapper {
  max-width: 1553px;
  display: flex;
  justify-content: center;
  margin: 0% 0%;
}
.l-content--wrapper .p-content:nth-child(1) {
  margin-right: 3%;
}
.l-content--wrapper .p-content:nth-child(2) {
  margin-left: 3%;
}

.l-flex--wrapper {
  display: flex;
}

.l-footer__layout {
  display: flex;
  align-items: center;
}

.l-aside__font-layout h2 {
  margin-top: 60px;
  margin-left: 20px;
}
.l-aside__font-layout h3 {
  margin: 50px 20px 40px;
}
.l-aside__font-layout li {
  margin: 20px 20px;
}

@media screen and (max-width: 899px) {
  .c-header {
    width: 100vw;
    height: 217px;
    background-color: #FFF7EF;
  }
}
@media screen and (min-width: 900px) {
  .c-header {
    width: 100vw;
    max-width: 1553px;
    height: 217px;
    background-color: #FFF7EF;
  }
}
@media screen and (max-width: 899px) {
  .c-logo {
    display: inline-block;
    color: #707070;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    font-family: Roboto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 900px) {
  .c-logo {
    color: #707070;
    font-size: 63px;
    overflow: hidden;
    font-family: Roboto;
  }
}
@media screen and (max-width: 899px) {
  .c-search-area {
    width: 216px;
    height: 46px;
    background-color: white;
    border: 1px solid #707070;
    font-size: 25px;
    border-radius: 10px;
    margin-right: 5px;
  }
}
@media screen and (min-width: 900px) {
  .c-search-area {
    width: 396px;
    height: 46px;
    background-color: white;
    border: 1px solid #707070;
    font-size: 25px;
    border-radius: 10px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 899px) {
  button.c-button {
    width: 90px;
    height: 46px;
    background-color: #ccc5c5;
    border-radius: 10px;
    border: 2px #707070 sorid;
    font-size: 15px;
    margin-left: 5px;
  }
}
@media screen and (min-width: 900px) {
  button.c-button {
    width: 136px;
    height: 46px;
    background-color: #ccc5c5;
    border-radius: 10px;
    border: 2px #707070 sorid;
    font-size: 15px;
    margin-left: 5px;
  }
}
.c-main-image {
  background-image: url(../hamburger-site/image/mainvisual-pc.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1553px;
  height: 530px;
  display: flex;
  align-items: center;
}
.c-main-image h1 {
  display: inline-block;
  font-size: 35px;
  color: white;
  margin-left: 85px;
}

.c-content--bg {
  background-image: url(../hamburger-site/image/take-out.png);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.c-content--bg--EatIn {
  background-image: url(../hamburger-site/image/eat-in.png);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.c-title {
  font-size: 4rem;
  margin: 10px;
  color: white;
}
.c-title::after {
  display: block;
  content: "";
  height: 2px;
  width: 55px;
  background-color: white;
  margin-top: 25px;
}
.c-title.map {
  display: inline-block;
  font-size: 2rem;
  margin: 90px;
  margin-left: 100px;
}
.c-title.map::after {
  margin-top: 40px;
}

.c-content__item {
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
  padding: 15px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.c-content__item h3 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}
.c-content__item p {
  font-size: 1rem;
}

.c-map {
  height: 650px;
  background-image: url(../hamburger-site/image/map.png);
  background-size: cover;
  background-position: center;
}
.c-map p {
  color: white;
  font-size: 1rem;
  padding-left: 100px;
  padding-right: 140px;
  line-height: 1.8rem;
}

.c-line {
  display: block;
  height: 20px;
  width: 1px;
  background-color: white;
  margin: 0px 10px 0px 11px;
}

.c-footer a {
  text-decoration: none;
}
.c-footer p {
  font-size: 1.1rem;
  color: white;
  font-weight: lighter;
}
.c-footer .copyright {
  font-size: 0.7rem;
  font-weight: lighter;
}

.c-aside--fonts h2 {
  font-size: 2.2rem;
  color: #707070;
}
.c-aside--fonts h3 {
  font-size: 1.8rem;
  color: #707070;
}
.c-aside--fonts li {
  font-size: 1.5rem;
  color: #707070;
  list-style: none;
}

.c-search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.p-content {
  height: 1200px;
  padding: 0% 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 625px;
}

.color-board {
  width: 950px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=style.css.map */