@use '../global/breakpoint' as m;


@include m.mq(sp) {
  .l-content--wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:center;

    .p-content:nth-child(1) {
      margin: auto;
      margin-top: 20px;
    }
    .p-content:nth-child(2) {
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@include m.mq(pc) {
  .l-content--wrapper {
    max-width: 1553px;
    width: 81.15vw;
    display: flex;
    justify-content:center;
    margin: 4% 0% 5%;
    .p-content:nth-child(1) {
      margin-right: 3%;
    }
    .p-content:nth-child(2) {
      margin-left: 3%;
    }
  }
}