@use '../global/breakpoint' as m;



@include m.mq(sp) {
  .l-content__item--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@include m.mq(pc) {
  .l-content__item--wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}