@use '../global/breakpoint' as m;

@include m.mq(sp) {
  .l-flex--wrapper {
    display: flex;
  }
}

@include m.mq(tab) {
  .l-flex--wrapper {
    display: flex;
    width: 100vw;
  }
}

@include m.mq(pc) {
  .l-flex--wrapper {
    display: flex;
    width: 100vw;
  }
}
