@use '../foundation/breakpoint' as m;


// フッター内の要素の配置
@include m.mq(sp) {
  .l-footer__layout {
    display: flex;
    align-items: center;
  }
}

@include m.mq(tab) {
  .l-footer__layout {
    display: flex;
    align-items: center;
  }
}

@include m.mq(pc) {
  .l-footer__layout {
    display: flex;
    align-items: center;
  }
}