@use '../global/breakpoint' as m;

@include m.mq(sp) {
  .l-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@include m.mq(tab) {
    .l-header {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
        .c-search {
          margin-bottom: 30px;
        }
        .c-logo {
          margin-top: 20px;
        }
    }
  }


@include m.mq(pc) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .c-logo {
      margin-left: 70px;
      margin-top: -10px;
    }
    .c-search {
      margin-top: 20px;
    }
  }
}