@use '../../foundation/breakpoint' as m;


// フッターの文字サイズ

@include m.mq(sp) {
  .l-footer {
    a {
      text-decoration: none;
    }
    p {
      font-size: 1.1rem;
      color: white;
    }
    .copyright {
    font-size: 0.7rem;   
    }
  }
}

@include m.mq(tab) {
  .l-footer {
    a {
      text-decoration: none;
    }
    p {
      font-size: 1.3rem;
      color: white;
    }
    .copyright {
    font-size: 0.9rem;   
    }
  }
}

@include m.mq(pc) {
  .l-footer {
    a {
      text-decoration: none;
    }
    p {
      font-size: 1.3rem;
      color: white;
    }
    .copyright {
    font-size: 0.9rem;   
    }
  }
}