body {
  font-size: 12px;
  list-style: none;
}

.l-footer {
  height: 149px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .l-header {
    width: 100vw;
    height: 217px;
  }
}
@media screen and (min-width:700.5px) {
  .l-header {
    width: 100vw;
    max-width: 3000px;
    height: 217px;
  }
}
@media screen and (min-width: 1200px) {
  .l-header {
    width: 81.15vw;
    max-width: 3000px;
    height: 217px;
  }
}
@media screen and (max-width: 700px) {
  .l-aside {
    position: absolute;
    left: 100%;
    top: 0%;
    transition: 0.3s;
    z-index: 200;
  }
}
@media screen and (min-width:700.5px) {
  .l-aside {
    position: absolute;
    left: 100%;
    top: 0%;
    transition: 0.3s;
    z-index: 200;
  }
}
@media screen and (min-width: 1200px) {
  .l-aside {
    position: static;
  }
}
@media screen and (max-width: 700px) {
  .l-aside.is-active {
    left: calc(100vw - 328px);
    transition-delay: 0.5s;
    z-index: 200;
    position: fixed;
  }
}
@media screen and (min-width:700.5px) {
  .l-aside.is-active {
    left: calc(100vw - 367px);
    transition-delay: 0.5s;
    z-index: 200;
    position: fixed;
  }
}
.l-body {
  width: 100vw;
  max-width: 2500vw;
  margin: auto;
  font-family: "M+ 1m";
  overflow-x: hidden;
}

@media screen and (max-width: 700px) {
  .l-main {
    width: 100vw;
  }
}
@media screen and (min-width:700.5px) {
  .l-main {
    width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .l-main {
    width: 81.15vw;
  }
}
@media screen and (max-width: 700px) {
  .c-logo {
    display: inline-block;
    color: #707070;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    margin-top: 20px;
  }
}
@media screen and (min-width:700.5px) {
  .c-logo {
    color: #707070;
    font-size: 53px;
    overflow: hidden;
    font-family: "Roboto";
    font-weight: bold;
  }
}
@media screen and (min-width: 1200px) {
  .c-logo {
    color: #707070;
    font-size: 63px;
    overflow: hidden;
    font-family: "Roboto";
    font-weight: bold;
  }
}
@media screen and (max-width: 700px) {
  .c-search-area {
    width: 216px;
    height: 46px;
    background-color: white;
    border: 1px solid #707070;
    font-size: 25px;
    border-radius: 10px;
    margin-right: 5px;
    text-indent: 2.5rem;
    padding-right: 10px;
  }
}
@media screen and (min-width:700.5px) {
  .c-search-area {
    width: 396px;
    height: 46px;
    background-color: white;
    border: 1px solid #707070;
    font-size: 25px;
    border-radius: 10px;
    margin-right: 5px;
    text-indent: 2.8rem;
    padding-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .c-search-area {
    width: 396px;
    height: 46px;
    background-color: white;
    border: 1px solid #707070;
    font-size: 25px;
    border-radius: 10px;
    margin-right: 5px;
    text-indent: 2.8rem;
    padding-right: 10px;
  }
}
@media screen and (max-width: 700px) {
  button.c-button {
    width: 90px;
    height: 46px;
    background-color: #ccc5c5;
    border-radius: 10px;
    border: 1px #707070 solid;
    font-size: 15px;
    color: #707070;
    font-family: "M+ 1m";
    font-weight: bold;
    margin-left: 5px;
  }
}
@media screen and (min-width:700.5px) {
  button.c-button {
    width: 136px;
    height: 46px;
    background-color: #ccc5c5;
    border-radius: 10px;
    border: 1px #707070 solid;
    font-size: 15px;
    color: #707070;
    font-family: "M+ 1m";
    font-weight: bold;
    margin-left: 5px;
  }
}
@media screen and (min-width: 1200px) {
  button.c-button {
    width: 136px;
    height: 46px;
    background-color: #ccc5c5;
    border-radius: 10px;
    border: 1px #707070 solid;
    font-size: 15px;
    color: #707070;
    font-family: "M+ 1m";
    font-weight: bold;
    margin-left: 5px;
  }
}
@media screen and (max-width: 700px) {
  .c-title {
    font-size: 41px;
    margin: 10px;
    color: white;
  }
  .c-title::after {
    display: block;
    content: "";
    height: 4px;
    width: 36px;
    background-color: white;
    margin-top: 15px;
  }
  .c-title.map {
    display: inline-block;
    font-family: "M+ 1m";
    font-weight: bold;
    font-size: 30px;
    margin-top: 8%;
    margin-left: 10%;
  }
  .c-title.map::after {
    margin-top: 20px;
    margin-bottom: 7px;
    height: 2px;
    width: 75px;
  }
}
@media screen and (min-width:700.5px) {
  .c-title {
    font-size: 44px;
    margin: 10px;
    color: white;
  }
  .c-title::after {
    display: block;
    content: "";
    height: 4px;
    width: 36px;
    background-color: white;
    margin-top: 20px;
  }
  .c-title.map {
    display: inline-block;
    font-family: "M+ 1m";
    font-weight: bold;
    font-size: 30px;
    margin-top: 8%;
    margin-left: 10%;
  }
  .c-title.map::after {
    margin-top: 15px;
    margin-bottom: 7px;
    height: 2px;
    width: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .c-title {
    font-size: 80px;
    margin: 10px;
    color: white;
  }
  .c-title::after {
    display: block;
    content: "";
    height: 4px;
    width: 63px;
    background-color: white;
    margin-top: 30px;
  }
  .c-title.map {
    display: inline-block;
    font-family: "M+ 1m";
    font-weight: bold;
    font-size: 36px;
    margin-top: 10%;
    margin-left: 10%;
  }
  .c-title.map::after {
    margin-top: 50px;
    margin-bottom: 45px;
    height: 2px;
    width: 75px;
  }
}
.c-line {
  display: block;
  height: 20px;
  width: 1px;
  background-color: white;
  margin: 0px 10px 0px 11px;
}

@media screen and (max-width: 700px) {
  .c-search--icon {
    background-image: url(../image/270mushimegane.png);
    background-size: cover;
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: 8px;
  }
}
@media screen and (min-width:700.5px) {
  .c-search--icon {
    background-image: url(../image/270mushimegane.png);
    background-size: cover;
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .c-search--icon {
    background-image: url(../image/270mushimegane.png);
    background-size: cover;
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: 10px;
  }
}
@media screen and (max-width: 700px) {
  .c-slide--button {
    position: absolute;
    right: 10px;
    top: -20px;
    font-size: 1.5rem;
    color: #707070;
    font-family: "Roboto";
    font-weight: bold;
    margin-top: 28px;
    opacity: 1;
    transition: 0.5s;
    z-index: 2;
  }
}
@media screen and (min-width:700.5px) {
  .c-slide--button {
    position: absolute;
    right: 20px;
    top: 0%;
    font-size: 2rem;
    color: #707070;
    font-family: "Roboto";
    font-weight: bold;
    margin-top: 20px;
    opacity: 1;
    transition: 0.5s;
    z-index: 2;
  }
}
@media screen and (max-width: 700px) {
  .c-slide--button.is-active {
    opacity: 0;
  }
}
@media screen and (min-width:700.5px) {
  .c-slide--button.is-active {
    opacity: 0;
  }
}
@media screen and (min-width: 1200px) {
  .c-slide--button {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .c-color-board--black {
    position: absolute;
    top: 0px;
    opacity: 0;
    transition: 500ms;
    width: 100vw;
    height: 2716px;
    background: rgba(0, 0, 0, 0.501961);
  }
}
@media screen and (min-width:700.5px) {
  .c-color-board--black {
    position: absolute;
    opacity: 0;
    top: 0px;
    transition: 500ms;
    width: 100vw;
    height: 1826px;
    background: rgba(0, 0, 0, 0.501961);
  }
}
@media screen and (max-width: 700px) {
  .c-color-board--black.is-active {
    opacity: 1;
    z-index: 50;
    position: fixed;
  }
}
@media screen and (min-width:700.5px) {
  .c-color-board--black.is-active {
    opacity: 1;
    z-index: 50;
    position: fixed;
  }
}
@media screen and (min-width: 1200px) {
  .c-color-board--black {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .c-button-close {
    height: 50px;
    width: 50px;
    background-color: #F2EDE9;
    position: relative;
    left: 275px;
    top: -95px;
  }
  .c-button-close p {
    font-size: 0px;
  }
  .c-button-close ::before {
    content: "";
    display: block;
    height: 6px;
    width: 45.25px;
    background-color: #707070;
    transform: rotate(-135deg);
    position: relative;
    left: 2px;
    top: 3px;
  }
  .c-button-close ::after {
    content: "";
    display: block;
    height: 6px;
    width: 45.25px;
    background-color: #707070;
    transform: rotate(-45deg);
    position: relative;
    left: 2px;
    top: -3px;
  }
}
@media screen and (min-width:700.5px) {
  .c-button-close {
    height: 60px;
    width: 60px;
    background-color: #F2EDE9;
    position: relative;
    left: 295px;
    top: -80px;
  }
  .c-button-close p {
    font-size: 0px;
  }
  .c-button-close ::before {
    content: "";
    display: block;
    height: 6px;
    width: 45.25px;
    background-color: #707070;
    transform: rotate(-135deg);
    position: relative;
    left: 2px;
    top: 3px;
  }
  .c-button-close ::after {
    content: "";
    display: block;
    height: 6px;
    width: 45.25px;
    background-color: #707070;
    transform: rotate(-45deg);
    position: relative;
    left: 2px;
    top: -3px;
  }
}
@media screen and (min-width: 1200px) {
  .c-button-close {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .c-color-board {
    width: 100vw;
    min-height: 415px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 30px;
  }
}
@media screen and (min-width:700.5px) {
  .c-color-board {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .c-color-board {
    width: 65%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .c-flex {
    display: flex;
    width: 100vw;
    height: 100%;
  }
}
@media screen and (max-width: 700px) {
  .p-content {
    height: auto;
    min-height: 642px;
    padding: 0% 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
  }
  .p-content .c-title {
    font-family: "Roboto";
    font-weight: bold;
  }
}
@media screen and (min-width:700.5px) {
  .p-content {
    min-height: 681px;
    padding: 0% 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42.5%;
  }
  .p-content .c-title {
    font-family: "Roboto";
    font-weight: bold;
  }
}
@media screen and (min-width: 1200px) {
  .p-content {
    width: 40%;
    min-height: 1196px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .p-content .c-title {
    font-family: "Roboto";
    font-weight: bold;
  }
}
@media screen and (max-width: 700px) {
  .p-aside--fonts h2 {
    font-size: 34px;
    color: #707070;
    font-family: "Roboto";
    font-weight: bold;
  }
  .p-aside--fonts h3 {
    font-size: 24px;
    color: #707070;
    font-family: "M+ 1m";
    font-weight: bold;
  }
  .p-aside--fonts li {
    font-size: 20px;
    color: #707070;
    list-style: none;
    font-family: "M+ 1m";
    font-weight: "regular";
    margin-left: 3rem;
  }
}
@media screen and (min-width:700.5px) {
  .p-aside--fonts h2 {
    font-size: 34px;
    color: #707070;
    font-family: "Roboto";
    font-weight: bold;
  }
  .p-aside--fonts h3 {
    font-size: 24px;
    color: #707070;
    font-family: "M+ 1m";
    font-weight: bold;
  }
  .p-aside--fonts li {
    font-size: 20px;
    color: #707070;
    list-style: none;
    font-family: "M+ 1m";
    font-weight: "regular";
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .p-aside--fonts h2 {
    font-size: 34px;
    color: #707070;
    font-family: "Roboto";
    font-weight: bold;
  }
  .p-aside--fonts h3 {
    font-size: 24px;
    color: #707070;
    font-family: "M+ 1m";
    font-weight: bold;
  }
  .p-aside--fonts li {
    font-size: 20px;
    color: #707070;
    list-style: none;
    font-family: "M+ 1m";
    font-weight: "regular";
    margin-left: 3rem;
  }
}
@media screen and (max-width: 700px) {
  .p-aside {
    width: 328px;
    height: 2716px;
    background-color: #F2EDE9;
    padding-top: 100px;
  }
  .p-aside h2 {
    display: none;
  }
  .p-aside h3 {
    margin: 43px 43px 32px;
  }
  .p-aside h3:nth-of-type(1) {
    margin-top: 48px;
  }
  .p-aside li {
    margin: 20px 20px;
  }
  ul {
    margin-left: 20px;
  }
}
@media screen and (min-width:700.5px) {
  .p-aside {
    padding-top: 100px;
    width: 367px;
    height: 1826px;
    background-color: #F2EDE9;
  }
  .p-aside h2 {
    display: none;
  }
  .p-aside h3 {
    margin: 43px 43px 32px;
  }
  .p-aside h3:nth-of-type(1) {
    margin-top: 48px;
  }
  .p-aside li {
    margin: 20px 20px;
  }
  ul {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .p-aside {
    width: 18.85vw;
    height: 2843px;
    min-width: 300px;
    background-color: #F2EDE9;
    padding-top: 75px;
  }
  .p-aside h2 {
    display: block;
    margin-left: 43px;
  }
  .p-aside h3 {
    margin: 43px 43px 32px;
  }
  .p-aside h3:nth-of-type(1) {
    margin-top: 90px;
  }
  .p-aside li {
    margin: 20px 20px;
  }
  ul {
    margin-left: 20px;
  }
}
@media screen and (max-width: 700px) {
  .p-map {
    margin-top: 30px;
    height: auto;
    min-height: 691px;
    width: 100vw;
    background-image: url(../image/map.png);
    background-size: cover;
    background-position: center;
  }
  .p-map p {
    color: white;
    font-size: 14px;
    font-family: "M+ 1m";
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 2.2;
  }
}
@media screen and (min-width:700.5px) {
  .p-map {
    min-height: 415px;
    width: 100vw;
    background-image: url(../image/map.png);
    background-size: cover;
    background-position: center;
  }
  .p-map p {
    color: white;
    font-size: 16px;
    font-family: "M+ 1m";
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 2.2;
  }
}
@media screen and (min-width: 1200px) {
  .p-map {
    min-height: 650px;
    width: 81.15vw;
    background-image: url(../image/map.png);
    background-size: cover;
    background-position: center;
  }
  .p-map p {
    color: white;
    font-size: 16px;
    font-family: "M+ 1m";
    font-weight: bold;
    padding-left: 10%;
    padding-right: 140px;
    line-height: 2.2;
  }
}
@media screen and (max-width: 700px) {
  .p-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }
}
@media screen and (min-width:700.5px) {
  .p-search {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .p-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-top: 20px;
  }
}
.p-content--bg {
  width: 90%;
  background-image: url(../image/take-out.png);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.p-content--bg--EatIn {
  width: 90%;
  background-image: url(../image/eat-in.png);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 700px) {
  .p-content__item {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 13px 18px 13px 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .p-content__item h3 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  .p-content__item p {
    font-size: 16px;
  }
}
@media screen and (min-width:700.5px) {
  .p-content__item {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .p-content__item h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .p-content__item p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .p-content__item {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .p-content__item h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .p-content__item p {
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  .p-main-image {
    width: 100vw;
    background-image: url(../image/mainvisual-pc.jpg);
    background-position: center;
    background-size: cover;
    height: 285px;
    display: flex;
    align-items: center;
    padding-left: 25px;
  }
  h1 {
    display: inline-block;
    font-size: 35px;
    color: white;
  }
}
@media screen and (min-width:700.5px) {
  .p-main-image {
    background-image: url(../image/mainvisual-pc.jpg);
    background-position: center;
    background-size: cover;
    max-width: 3000px;
    width: 100vw;
    height: 285px;
    display: flex;
    align-items: center;
    padding-left: 85px;
  }
  h1 {
    display: inline-block;
    font-size: 35px;
    color: white;
  }
}
@media screen and (min-width: 1200px) {
  .p-main-image {
    background-image: url(../image/mainvisual-pc.jpg);
    background-position: center;
    background-size: cover;
    max-width: 3000px;
    width: 81.15vw;
    height: 530px;
    display: flex;
    align-items: center;
    padding-left: 85px;
  }
  h1 {
    display: inline-block;
    font-size: 35px;
    color: white;
  }
}
.p-footer {
  background-color: #9D8670;
  background-image: url(../image/bg--footer.png);
  background-repeat: repeat;
}
.p-footer .l-footer__layout {
  display: flex;
  align-items: center;
}
.p-footer .copyright {
  font-family: "M+ 1m";
}
.p-footer p {
  font-family: "M+ 1m";
}

@media screen and (max-width: 700px) {
  .p-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  }
  .p-footer a {
    text-decoration: none;
  }
  .p-footer p {
    font-size: 1.1rem;
    color: white;
  }
  .p-footer .copyright {
    font-size: 0.7rem;
  }
}
@media screen and (min-width:700.5px) {
  .p-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 25px;
    align-items: center;
  }
  .p-footer a {
    text-decoration: none;
  }
  .p-footer p {
    font-size: 1.3rem;
    color: white;
  }
  .p-footer .copyright {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1200px) {
  .p-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 35px;
    align-items: center;
  }
  .p-footer a {
    text-decoration: none;
  }
  .p-footer p {
    font-size: 1.3rem;
    color: white;
  }
  .p-footer .copyright {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 700px) {
  .p-content__item--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .p-content__item--wrapper .p-content__item:nth-of-type(1) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width:700.5px) {
  .p-content__item--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .p-content__item--wrapper .p-content__item:nth-of-type(1) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .p-content__item--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .p-content__item--wrapper .p-content__item:nth-of-type(1) {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 700px) {
  .p-content--wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .p-content--wrapper .p-content:nth-child(1) {
    margin: auto;
    margin-top: 20px;
  }
  .p-content--wrapper .p-content:nth-child(2) {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width:700.5px) {
  .p-content--wrapper {
    max-width: 3000px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 39px 0px 40px;
  }
  .p-content--wrapper .p-content:nth-child(1) {
    width: 42.5%;
    margin-right: 2.4%;
  }
  .p-content--wrapper .p-content:nth-child(2) {
    width: 42.5%;
    position: relative;
    margin-left: 2.4%;
  }
}
@media screen and (min-width: 1200px) {
  .p-content--wrapper {
    max-width: 3000px;
    width: 81.15vw;
    display: flex;
    justify-content: center;
    margin: 120px 0px 130px;
  }
  .p-content--wrapper .p-content:nth-child(1) {
    width: 40%;
    margin-right: 3%;
  }
  .p-content--wrapper .p-content:nth-child(2) {
    width: 40%;
    margin-left: 3%;
  }
}
@media screen and (max-width: 700px) {
  .p-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF7EF;
  }
}
@media screen and (min-width:700.5px) {
  .p-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF7EF;
  }
  .p-header .c-search {
    margin-bottom: 30px;
  }
  .p-header .c-logo {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FFF7EF;
  }
  .p-header .c-logo {
    margin-left: 70px;
    margin-top: -10px;
  }
  .p-header .c-search {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */