@use '../../global/breakpoint' as m;


@include m.mq(sp) {
  .color-board {
    width: 100vw;
    height: 415px;
    background-color: rgba(0,0,0,0.6);
  }
}

@include m.mq(tab) {
  .color-board {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
}

@include m.mq(pc) {
  .color-board {
    width: 65%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
}