@use '../../global/breakpoint'as m;

@include m.mq(sp) {
  .c-aside {
    width: 328px;
    height: 2716px;
  }
}

@include m.mq(tab) {
  .c-aside {
    width: 367px;
    height: 2716px;
  }
}


@include m.mq(pc) {
  .c-aside {
    width: 18.85%;
    min-width: 300px;
  }
}