@use '../../global/breakpoint'as m;

@include m.mq(sp) {
  .c-aside {
    position: absolute;
    left: 100%;
    width: 328px;
  }
}

@include m.mq(pc) {
  .c-aside {
    width: 18.85%;
    min-width: 300px;
  }
}