@use '../../global/breakpoint'as m;

@include m.mq(sp) {
  .c-aside {
    width: 328px;
    height: 2716px;
    background-color: #F2EDE9;
  }
}

@include m.mq(tab) {
  .c-aside {
    width: 367px;
    height: 1826px;
    background-color: #F2EDE9;
  }
}


@include m.mq(pc) {
  .c-aside {
    width: 18.85vw;
    height: 2843px;
    min-width: 300px;
    background-color: #F2EDE9;
  }
}