@use '../../global/breakpoint' as m;


@include m.mq(sp) {
  button.c-button {
    width: 90px;
    height: 46px;
    background-color: #ccc5c5;
    border-radius: 10px;
    border: 1px #707070 solid;
    font-size: 15px;
    color: #707070;
    font-family: "M+ 1m";
    font-weight: bold;
    margin-left: 5px;
  }
}

  @include m.mq(tab) {
    button.c-button {
      width: 136px;
      height: 46px;
      background-color: #ccc5c5;
      border-radius: 10px;
      border: 1px #707070 solid;
      font-size: 15px;
      color: #707070;
      font-family: "M+ 1m";
      font-weight: bold;
      margin-left: 5px;
    }
  }


@include m.mq(pc) {
  button.c-button {
    width: 136px;
    height: 46px;
    background-color: #ccc5c5;
    border-radius: 10px;
    border: 1px #707070 solid;
    font-size: 15px;
    color: #707070;
    font-family: "M+ 1m";
    font-weight: bold;
    margin-left: 5px;
  }
}