@use '../../global/breakpoint' as m;

// サイドメニューの黒い背景

@include m.mq(sp) {
  .c-color-board--black {
    width: 375px;
    height: 2716px;
    background: rgba(0, 0, 0, 0.501961);
  }
}

@include m.mq(tab) {
  .c-color-board--black {
    width: 375px;
    height: 2716px;
    background: rgba(0, 0, 0, 0.501961);
  }
}

@include m.mq(pc) {
  .c-color-board--black {
    display: none;
  }
}