@use '../../global/breakpoint' as m;


@include m.mq(sp) {
  .c-footer {
    a {
      text-decoration: none;
    }
    p {
      font-size: 1.1rem;
      color: white;
      // font-weight: lighter;
    }
    .copyright {
    font-size: 0.7rem;   
    // font-weight: lighter;
    }
  }
}


@include m.mq(tab) {
  .c-footer {
    a {
      text-decoration: none;
    }
    p {
      font-size: 1.3rem;
      color: white;
    }
    .copyright {
    font-size: 0.9rem;   
    // font-weight: lighter;
    }
  }
}

@include m.mq(pc) {
  .c-footer {
    a {
      text-decoration: none;
    }
    p {
      font-size: 1.3rem;
      color: white;
      // font-weight: lighter;
    }
    .copyright {
    font-size: 0.9rem;   
    // font-weight: lighter;
    }
  }
}