@use '../../global/breakpoint' as m;


@include m.mq(sp) {
  .c-header {
    width: 100vw;
    // max-width: 899px;
    height: 217px;
    background-color: #FFF7EF;
  }
}


@include m.mq(pc) {
  .c-header {
    width: 100vw;
    max-width: 1553px;
    height: 217px;
    background-color: #FFF7EF;
  }
}