@use '../../global/breakpoint' as m;

@include m.mq(sp) {
  .c-main-image {
    width: 100vw;
    background-image: url(../hamburger-site/image/mainvisual-pc.jpg);
    background-position: center;
    background-size: cover;
    height: 285px;
    display: flex;
    align-items: center;
  }
      h1 {
        display: inline-block;
        font-size: 35px;
        color: white;
        margin-left: 25px;
      }
}

@include m.mq(pc) {
  .c-main-image {
    background-image: url(../hamburger-site/image/mainvisual-pc.jpg);
    background-position: center;
    background-size: cover;
    max-width: 3000px;
    height: 530px;
    display: flex;
    align-items: center;
      h1 {
        display: inline-block;
        font-size: 35px;
        color: white;
        margin-left: 85px;
      }
  }
}