@use '../../global/breakpoint' as m;

@include m.mq(sp) {
  .c-main-image {
    width: 100vw;
    background-image: url(../image/mainvisual-pc.jpg);
    background-position: center;
    background-size: cover;
    height: 285px;
    display: flex;
    align-items: center;
    padding-left: 25px;
  }
  h1 {
    display: inline-block;
    font-size: 35px;
    color: white;
  }
}

@include m.mq(tab) {
  .c-main-image {
    background-image: url(../image/mainvisual-pc.jpg);
    background-position: center;
    background-size: cover;
    max-width: 3000px;
    width: 100vw;
    height: 285px;
    display: flex;
    align-items: center;
    padding-left: 85px;
  }
  h1 {
    display: inline-block;
    font-size: 35px;
    color: white;
  }
}

@include m.mq(pc) {
  .c-main-image {
    background-image: url(../image/mainvisual-pc.jpg);
    background-position: center;
    background-size: cover;
    max-width: 3000px;
    width: 81.15vw;
    height: 530px;
    display: flex;
    align-items: center;
    padding-left: 85px;
  }
  h1 {
    display: inline-block;
    font-size: 35px;
    color: white;
  }
}