@use '../../global/breakpoint' as m;


@include m.mq(sp) {
  .c-map {
    margin-top: 30px;
    height: 690px;
    background-image: url(../hamburger-site/image/map.png);
    background-size: cover;
    background-position: center;
    p {
      color: white;
      font-size: 1rem;
      padding-left: 10%;
      padding-right: 10%;
      line-height: 1.8rem;
    }
  }
}

@include m.mq(tab) {
  .c-map {
    height: 415px;
    width: 100vw;
    background-image: url(../hamburger-site/image/map.png);
    background-size: cover;
    background-position: center;
    p {
      color: white;
      font-size: 1rem;
      padding-left: 10%;
      padding-right: 140px;
      line-height: 1.8rem;
    }
  }
}

@include m.mq(pc) {
  .c-map {
    height: 650px;
    background-image: url(../hamburger-site/image/map.png);
    background-size: cover;
    background-position: center;
    p {
      color: white;
      font-size: 1rem;
      padding-left: 10%;
      padding-right: 140px;
      line-height: 1.8rem;
    }
  }
}