@use '../../global/breakpoint' as m;


.c-main-image {
  background-image: url(../hamburger-site/image/mainvisual-pc.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1553px;
  height: 530px;
  display: flex;
  align-items: center;
    h1 {
      display: inline-block;
      font-size: 35px;
      color: white;
      margin-left: 85px;
    }
}
