@use '../../global/breakpoint' as m;


@include m.mq(sp) {
  .c-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }
}

@include m.mq(tab) {
  .c-search {
    display: flex;
    align-items: center;
    // margin-bottom: 20px;
    position: relative;
  }
}

@include m.mq(pc) {
  .c-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 30px;
  }
}