@use '../../global/breakpoint' as m;

.c-title--content {
  font-size: 4rem;
  margin: 10px;
  color: white;
  &::after {
    display: block;
    content: "";
    height: 2px;
    width: 55px;
    background-color: white;
    margin-top: 25px;
  }
}